* {
    padding: 0px;
    margin: 0px;
    /* border: 1px solid red; */
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
.hero {
    /* header background color */
    background-color: #1F2937;
}

.logo {
    /* color and font style */
    font-size: 24px;
    color: #F9FAF8;

    font-weight: 600;
}

/* header list */
ul {
    /* remove bullet points and all margin/padding */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* header link */
a {
    /* color and font style */
    font-size: 18px;
    color: #E5E7EB;
    /* remove link decoration*/
    text-decoration: none;
}

/* header links alignment */
.header-links {
    display: flex;
    gap: 8px;
}

/* footer */
.footer {
    /* footer background color */
    background-color: #1F2937;
    /* copyright text color */
    color: #E5E7EB;
    /* padding */
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* content */
.content {
    display: flex;
    /* made content shrinkable */
    flex: 1;
    /* direction: column */
    flex-direction: column;
}

/* content: section 1 */
.section-1 {
    background-color: #1F2937;
}


.section-1 .header {
    /* color and size */
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    /* width */
    max-width: 500px;
    width: 100%;
}

.text {
    /* color and size */
    font-size: 18px;
    color: #E5E7EB;
    /* font width */
    max-width: 500px;
    width: 100%;
}

/* button styles */
button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 18px;
    padding: 8px 24px;
    border-radius: 8px;
}

.section-1 .sign-up-button button{
    border: 0;
}

/* image resize */
.section-1-image img {
    max-width: 400px;
    width: 100%;
}

/* flex box */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .container-header {
    padding: 12px 100px;
}

.section-1 .container-header {
    flex-wrap: wrap;
    padding: 140px 100px;

    gap: 16px;
}


.section-1-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-links {
    display: flex;
    gap: 24px;
}

/* .section 2 */
/* section 2 title */
.section-2 .header {
    /* font and size */
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* padding */
    padding: 36px;
}

/* image for section 2*/
.info img {
    max-width: 200px;
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.container-info {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    padding: 24px 0px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info .text {
    text-align: center;
    color: #1F2937;
}

/* secction 3 quote */
/* section 3 container*/
.section-3{
    background-color: #E5E7EB;
    padding: 48px 24px;

    display: flex;
    justify-content: center;
}

.section-3-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    
    max-width: 800px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    font-style: italic;
}

.quoted-by {
    font-weight: 600;
}

/* section 4 */
.section-4 {
    padding: 48px 24px;
}

.section-4-container {
    background-color: #3882F6;
    margin: 0px 140px;
    padding: 24px;

    border-radius: 16px;
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0px 60px;
}

.section-4 .header {
    font-size: 24px;
    color: #F9FAF8;
}

.section-4 .sign-up-button button {
    border: 1px solid #F9FAF8; 
}