* {
    padding: 0px;
    margin: 0px;
    border: 1px solid red;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
.hero {
    /* header background color */
    background-color: #1F2937;
    display: flex;
    /* header logo on left and header link on right */
    justify-content: space-between;
    /* header and logo align on center */
    align-items: center;
    /* padding */
    padding: 16px;
}

.logo {
    /* color and font style */
    font-size: 24px;
    color: #F9FAF8;
}

/* header list */
ul {
    /* remove bullet points and all margin/padding */
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

/* header link */
a {
    /* color and font style */
    font-size: 18px;
    color: #E5E7EB;
    /* remove link decoration*/
    text-decoration: none;
}

/* header links alignment */
.header-links {
    display: flex;
    gap: 8px;
}

/* footer */
.footer {
    /* footer background color */
    background-color: #1F2937;
    /* copyright text color */
    color: #E5E7EB;
    /* padding */
    padding: 16px;
    display: flex;
    /* center */
    justify-content: center;
}

/* content */